*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: grey;
    z-index: 123;
    display: flex;
    top: 0;
    left: 0;
}
.container{
    height: 10000vh;
    width: 100vw;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(230, 0, 255, 1) 53%, rgba(252, 70, 107, 1) 100%);
position: relative;
}
.block1{
width: 200px;
height: 200px;
background-color: red;
position: absolute;
margin: 100px 400px;
}
.block2{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: blue;
    margin:140px 450px;
}